@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --Gray-1: #333333;
  --Gray-2: #4f4f4f;
  --Gray-4: #bdbdbd;
  --Gray-5: #e0e0e0;
  --Gray-6: #f2f2f2;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--Gray-6);
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 32px 16px;
}

button {
  cursor: pointer;
}

.container {
  max-width: 343px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: stretch;
}

.container > h1 {
  text-align: center;
  color: var(--Gray-1);
}

#lista-notas {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

#note-input {
  min-height: 120px;
  padding: 16px;
  border-radius: 16px;
  border: 2px solid var(--Gray-2);
  background: #fff;
  font-size: 24px;
  resize: none;
  overflow-y: hidden;
}

#note-input::placeholder {
  color: var(--Gray-4);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

#boton-crear {
  color: white;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  padding: 8px 16px;
  border-radius: 16px;
  background: var(--Gray-2);
  border: none;
}

.note {
  display: flex;
  padding: 16px;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;
  border: 2px solid var(--Gray-2);
  background: white;
  font-size: 24px;
  margin-bottom: 16px;
}

.note-content {
  margin: 0;
  font-size: 24px;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: var(--Gray-1);
}

.boton-borrar {
  width: 83px;
  height: 30px;
  padding: 4px 16px;
  border-radius: 16px;
  background: var(--Gray-5);
  color: var(--Gray-2);
  border: none;
  font-size: 18px;
  font-weight: 700;
  margin-left: auto;
}
